<section id="posts" ng-controller="HomeController">
	<ul class="col-md-7">
		<li id="newPosts" class="post hide">
			<i class="fa fa-bell"></i> Hay nuevas publicaciones
			<a href="" ng-click="cargar()">Cargar</a>
		</li>
		<li class="search">
			<input ng-model="search" placeholder="Buscar ..." class="form-control">
		</li>
		<li class="post" ng-repeat="post in posts | filter: search">
			<h1>{{post.title}}</h1>
			<p>{{post.text}}</p>
			<a href="#/post/{{post._id}}">Leer más</a>
			<p><span class="label success">Comentarios: {{post.comments}}</span></p>
			<p><strong>by: {{post.user}}</strong> - <strong>{{post.date}}</strong></p>
		</li>
		<li ng-show="!posts.length">
			<h1>No hay publicaciones!</h1>
		</li>
	</ul>
	<div class="new-thread col-md-4">
		<h1>Nueva Publicación</h1>
		<form ng-submit="createPost(newPost)">
			<input class="form-control" placeholder="Título" ng-model="newPost.title">
			<textarea class="form-control" placeholder="Texto" ng-model="newPost.text"></textarea>
			<button class="btn btn-primary">Publicar</button>
		</form>
	</div>
</section>